- require_widget :admin, :nav
- require_widget :admin, :widgets, :dialog
- require_widget :admin, :widgets, :indicator, :mouse
- require_widget :admin, :widgets, :form
- require_widget :admin, :widgets, :table

!!! Strict
%html
  %head
    %title= @title.join(' - ')
    - javascripts 'admin/system/base', :layout => true
    - stylesheets 'admin/system/base', :layout => true
    = stylesheets
  %body
    - render_widget :admin
    - render_widget :admin, :widgets, :dialog
    - render_widget :admin, :widgets, :indicator, :mouse
    #top
      .content= image_tag 'admin_title.png'
    #top2
    #top3
      .content
        - tbl :row, :system_status, :px, 75, 115, 780 do
          - tbl :cell, :system_status do
            = image_tag 'admin/system/system_status.png'
          - tbl :cell, :system_status do
            System status
          - tbl :cell, :system_status do
            You’ll be happy to know that your
            %b 3 mongrels (2 production, 1 staging)
            are running at
            %b 3% of capacity.
    #content
      .content
        - tbl :row, :body, :px, 190, 780 do
          - tbl :cell, :body do
            = render_widget :admin, :nav
          - tbl :cell, :body do
            = yield
    = javascripts